
CONFIG_PACKAGE_docker-ce=m
CONFIG_DOCKER_KERNEL_OPTIONS=y
CONFIG_DOCKER_SECCOMP=y
CONFIG_DOCKER_RES_SHAPE=y
CONFIG_DOCKER_NET_OVERLAY=y
CONFIG_DOCKER_NET_ENCRYPT=y
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_NET_TFTP=y
CONFIG_DOCKER_STO_BTRFS=y
CONFIG_DOCKER_STO_EXT4=y
CONFIG_KERNEL_CGROUP_DEBUG=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_HUGETLB=y
CONFIG_KERNEL_PROC_PID_CPUSET=y
CONFIG_KERNEL_BLK_DEV_THROTTLING_LOW=y
CONFIG_KERNEL_DEBUG_BLK_CGROUP=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_CGROUP_NET_CLASSID=y
CONFIG_KERNEL_CGROUP_NET_PRIO=y
