
# This config is NOT for all devices
CONFIG_PACKAGE_hostapd=y
CONFIG_PACKAGE_hostapd-basic=y
CONFIG_PACKAGE_hostapd-utils=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_DRIVER_11AC_SUPPORT=y
CONFIG_DRIVER_11N_SUPPORT=y
CONFIG_DRIVER_11W_SUPPORT=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_wpad=y
CONFIG_PACKAGE_wpad-mini=y
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_wpa-supplicant=y
