
CONFIG_ALL=y
CONFIG_DOCKER_CGROUP_OPTIONS=y
CONFIG_DOCKER_NET_ENCRYPT=y
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_NET_OVERLAY=y
CONFIG_DOCKER_NET_TFTP=y
CONFIG_DOCKER_OPTIONAL_FEATURES=y
CONFIG_DOCKER_STO_BTRFS=y
CONFIG_DOCKER_STO_EXT4=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_linear=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_raid456=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Dns2socks=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray-plugin=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple-obfs=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray_plugin=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-app-bypass_Shadowsocks_Server=y
CONFIG_PACKAGE_luci-app-bypass_Shadowsocks=y
CONFIG_PACKAGE_luci-app-bypass_ShadowsocksR=y
CONFIG_PACKAGE_luci-app-bypass_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-app-bypass_Simple_obfs=y
CONFIG_PACKAGE_luci-app-bypass_Simple_obfs_server=y
CONFIG_PACKAGE_luci-app-bypass_V2ray_plugin=n
CONFIG_PACKAGE_luci-app-bypass_Xray=y
CONFIG_PACKAGE_luci-app-bypass_Trojan=y
CONFIG_PACKAGE_luci-app-bypass_Trojan-Go=y
CONFIG_PACKAGE_luci-app-bypass_NaiveProxy=y
CONFIG_PACKAGE_luci-app-bypass_Kcptun=y
CONFIG_PACKAGE_luci-app-bypass_Socks5_Proxy=y
CONFIG_PACKAGE_luci-app-bypass_Socks_Server=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_dnsforwarder=y
CONFIG_LUCI_LANG_ca=y
CONFIG_LUCI_LANG_cs=y
CONFIG_LUCI_LANG_de=y
CONFIG_LUCI_LANG_el=y
CONFIG_LUCI_LANG_es=y
CONFIG_LUCI_LANG_fr=y
CONFIG_LUCI_LANG_he=y
CONFIG_LUCI_LANG_hu=y
CONFIG_LUCI_LANG_it=y
CONFIG_LUCI_LANG_ja=y
CONFIG_LUCI_LANG_ko=y
CONFIG_LUCI_LANG_ms=y
CONFIG_LUCI_LANG_no=y
CONFIG_LUCI_LANG_pl=y
CONFIG_LUCI_LANG_pt=y
CONFIG_LUCI_LANG_pt-br=y
CONFIG_LUCI_LANG_ro=y
CONFIG_LUCI_LANG_ru=y
CONFIG_LUCI_LANG_sk=y
CONFIG_LUCI_LANG_sv=y
CONFIG_LUCI_LANG_tr=y
CONFIG_LUCI_LANG_uk=y
CONFIG_LUCI_LANG_vi=y
CONFIG_LUCI_LANG_zh-tw=y
