CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_generic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_8dev_habanero-dvk=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_8dev_jalapeno=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_alfa-network_ap120c-ac=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_aruba_ap-303=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_aruba_ap-303h=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_aruba_ap-365=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_asus_map-ac2200=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_asus_rt-ac58u=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_asus_rt-acrh17=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_avm_fritzbox-4040=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_avm_fritzbox-7530=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_avm_fritzrepeater-1200=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_avm_fritzrepeater-3000=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_buffalo_wtr-m2133hp=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_cellc_rtl30vw=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_century_wr142ac=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_century_wr142ac-nand=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_meraki_mr33=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_compex_wpj419=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_cilab_meshpoint-one=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_dlink_dap-2610=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_engenius_eap1300=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_engenius_eap2200=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_engenius_emd1=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_engenius_emr3500=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_engenius_ens620ext=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_ezviz_cs-w3-wd1200g-eup=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_glinet_gl-b1300=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_glinet_gl-s1300=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_hiwifi_c526a=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_hiwifi_c526a-128m=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_leguang_ca100=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_linksys_ea6350v3=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_linksys_ea8300=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_mobipromo_cm520-79f=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_netgear_ex6100v2=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_netgear_ex6150v2=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_netgear_ex6200v2=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_openmesh_a42=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_openmesh_a62=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_p2w_r619ac=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_qcom_ap-dk01.1-c1=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_qcom_ap-dk04.1-c1=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_qxwlan_e2600ac-c1=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_qxwlan_e2600ac-c2=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_unielec_u4019-32m=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_zyxel_nbg6617=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_zyxel_wre6606=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_PACKAGE_kmod-multimedia-input=n
CONFIG_PACKAGE_kmod-qlcnic=n
CONFIG_PACKAGE_kmod-r8125=n
CONFIG_PACKAGE_kmod-r8168=n
