CONFIG_TARGET_sunxi=y
CONFIG_TARGET_sunxi_cortexa53=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_sunxi_cortexa53_DEVICE_friendlyarm_nanopi-neo-plus2=y
CONFIG_TARGET_DEVICE_PACKAGES_sunxi_cortexa53_DEVICE_friendlyarm_nanopi-neo-plus2=""
CONFIG_TARGET_DEVICE_sunxi_cortexa53_DEVICE_friendlyarm_nanopi-neo2=y
CONFIG_TARGET_DEVICE_PACKAGES_sunxi_cortexa53_DEVICE_friendlyarm_nanopi-neo2=""
CONFIG_TARGET_DEVICE_sunxi_cortexa53_DEVICE_friendlyarm_nanopi-r1s-h5=y
CONFIG_TARGET_DEVICE_PACKAGES_sunxi_cortexa53_DEVICE_friendlyarm_nanopi-r1s-h5=""
CONFIG_TARGET_DEVICE_sunxi_cortexa53_DEVICE_libretech_all-h3-cc-h5=y
CONFIG_TARGET_DEVICE_PACKAGES_sunxi_cortexa53_DEVICE_libretech_all-h3-cc-h5=""
CONFIG_TARGET_DEVICE_sunxi_cortexa53_DEVICE_olimex_a64-olinuxino=y
CONFIG_TARGET_DEVICE_PACKAGES_sunxi_cortexa53_DEVICE_olimex_a64-olinuxino=""
CONFIG_TARGET_DEVICE_sunxi_cortexa53_DEVICE_olimex_a64-olinuxino-emmc=y
CONFIG_TARGET_DEVICE_PACKAGES_sunxi_cortexa53_DEVICE_olimex_a64-olinuxino-emmc=""
CONFIG_TARGET_DEVICE_sunxi_cortexa53_DEVICE_pine64_pine64-plus=y
CONFIG_TARGET_DEVICE_PACKAGES_sunxi_cortexa53_DEVICE_pine64_pine64-plus=""
CONFIG_TARGET_DEVICE_sunxi_cortexa53_DEVICE_pine64_sopine-baseboard=y
CONFIG_TARGET_DEVICE_PACKAGES_sunxi_cortexa53_DEVICE_pine64_sopine-baseboard=""
CONFIG_TARGET_DEVICE_sunxi_cortexa53_DEVICE_xunlong_orangepi-pc2=y
CONFIG_TARGET_DEVICE_PACKAGES_sunxi_cortexa53_DEVICE_xunlong_orangepi-pc2=""
CONFIG_TARGET_DEVICE_sunxi_cortexa53_DEVICE_xunlong_orangepi-zero-plus=y
CONFIG_TARGET_DEVICE_PACKAGES_sunxi_cortexa53_DEVICE_xunlong_orangepi-zero-plus=""
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=960
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_PACKAGE_kmod-r8168=n
CONFIG_PACKAGE_kmod-r8125=n
